<html>
{% if data %}
<h1>{{data.id}}</h1>
<h1>{{data.name}}</h1>
<h1>{{data.dateOfBirth}}</h1>
<h1>{{data.sessions}}</h1>
<h1>{{data.characters}}</h1>
{% else %}
<div>
  <form action="/register" method="POST">
    <label for="uname">Username:</label>
    <input type="text" id="uname" name="uname"><br><br>
    <label for="pword">Password:</label>
    <input type="password" id="pword" name="pword"><br><br>
    <label for="dob">Date of Birth (MM/DD/YY):</label>
    <input type="text" id="dob" name="dob"><br><br>
    <input type="submit" value="submit">
  </form>
</div>
<div>
  <form action="/login" method="POST">
    <label for="uname">Username:</label>
    <input type="text" id="uname" name="uname"><br><br>
    <label for="pword">Password:</label>
    <input type="password" id="pword" name="pword"><br><br>
    <input type="submit" value="submit">
  </form>
</div>
{% endif%}
</html>
