<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>D&amp;D</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Navigation-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<style>
border border-secondary{
  color: black;
}
</style>

<body>
    <div>
        <div>
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="tab-1">
                    <div class="container text-center"><button class="btn btn-primary" type="button" style="margin: 5px;">Generate PDF</button><a class="btn btn-primary" href="character/edit/{{sheet.id}}" role="button">Edit Character Sheet</a><button class="btn btn-primary" type="button" style="margin: 5px;">Delete Character Sheet</button></div>
                    <div
                        class="container">
                        <div class="col d-inline-flex border border-secondary">
                            <div class="row" style="width: 35%;margin: 5px;;">
                                <div class="col">
                                    <h4>{{sheet.name}}</h4>
                                    <hr>
                                    <p class="justify-content-between">Character Name</p>
                                </div>
                            </div>
                            <div class="row" style="width: 65%;margin: 5px;;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="text-center">Class &amp; Level</h5>
                                            <hr>
                                            <p class="text-center">{{sheet.level}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center">{{sheet.race}}</p>
                                            <hr>
                                            <h5 class="text-center">Race</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="text-center">Background</h5>
                                            <hr>
                                            <p class="text-center">{{sheet.background}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center">{{sheet.alignment}}</p>
                                            <hr>
                                            <h5 class="text-center">Alignment</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="text-center">Player Name</h5>
                                            <hr>
                                            <p class="text-center">{{sheet.username}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center">{{sheet.experience}}</p>
                                            <hr>
                                            <h5 class="text-center">Experience Points</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-inline-flex ">
                            <div class="row border border-secondary" style="width: 16.6%;margin: 5px;;">
                                <div class="col">
                                    <h4 class="text-center">Strength</h4>
                                    <hr>
                                    <p class="text-center">{{sheet.strength}}</p>
                                </div>
                            </div>
                            <div class="row border border-secondary" style="width: 16.6%;margin: 5px;;">
                                <div class="col">
                                    <h4 class="text-center">Dexterity</h4>
                                    <hr>
                                    <p class="text-center">{{sheet.dexterity}}</p>
                                </div>
                            </div>
                            <div class="row border border-secondary" style="width: 16.6%;margin: 5px;;">
                                <div class="col">
                                    <h4 class="text-center">Constitution</h4>
                                    <hr>
                                    <p class="text-center">{{sheet.constitution}}</p>
                                </div>
                            </div>
                            <div class="row border border-secondary" style="width: 16.6%;margin: 5px;;">
                                <div class="col">
                                    <h4 class="text-center">Intelligence</h4>
                                    <hr>
                                    <p class="text-center">{{sheet.intelligence}}</p>
                                </div>
                            </div>
                            <div class="row border border-secondary" style="width: 16.6%;margin: 5px;;">
                                <div class="col">
                                    <h4 class="text-center">Wisdom</h4>
                                    <hr>
                                    <p class="text-center">{{sheet.wisdom}}</p>
                                </div>
                            </div>
                            <div class="row border border-secondary" style="width: 16.6%;margin: 5px;;">
                                <div class="col">
                                    <h4 class="text-center">Charisma</h4>
                                    <hr>
                                    <p class="text-center">{{sheet.charisma}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-inline-flex">
                            <div class="row border border-secondary" style="margin: 5px;width: 25%;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center">Inspiration</p>
                                            <hr>
                                            <h5 class="text-center">{{sheet.inspiration}}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center">Proficiency Bonus<br></p>
                                            <hr>
                                            <h5 class="text-center">{{sheet.proficiency_bonus}}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center">Saving Throws</p>
                                            <hr>
                                            <ul>
                                                <li>Strength({{sheet.strength_save}})</li>
                                                <li>Dexterity({{sheet.dexterity_save}})</li>
                                                <li>Constitution({{sheet.constitution_save}})</li>
                                                <li>Intelligence({{sheet.intelligence_save}})</li>
                                                <li>Wisdom({{sheet.wisdom_save}})</li>
                                                <li>Charisma({{sheet.charisma_save}})</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center">Skills</p>
                                            <hr>
                                            <ul>
                                                <li>({{sheet.acrobatics}})Acrobatics (Dex)</li>
                                                <li>({{sheet.animal_handling}})Animal Handling (Wis)</li>
                                                <li>({{sheet.arcana}})Arcana (Int)</li>
                                                <li>({{sheet.athletics}})Athletics (Str)</li>
                                                <li>({{sheet.deception}})Deception (Cha)</li>
                                                <li>({{sheet.history}})History (Int)</li>
                                                <li>({{sheet.insight}})Insight (Wis)</li>
                                                <li>({{sheet.intimidation}})Intimidation (Cha)</li>
                                                <li>({{sheet.investigation}})Investigation (Int)</li>
                                                <li>({{sheet.medicine}})Medicine (Wis)</li>
                                                <li>({{sheet.nature}})Nature (Int)</li>
                                                <li>({{sheet.perception}})Perception (Wis)</li>
                                                <li>({{sheet.performance}})Performance (Cha)</li>
                                                <li>({{sheet.persuasion}})Persuasion (Cha)</li>
                                                <li>({{sheet.religion}})Religion (Int)</li>
                                                <li>({{sheet.sleight_of_hand}})Sleight of Hand (Dex)</li>
                                                <li>({{sheet.stealth}})Stealth (Dex)</li>
                                                <li>({{sheet.survival}})Survival (Wis)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-center">Other proficiencies &amp; Languages</p>
                                            <hr>
                                            <ul>
                                              {% for proficiency in sheet.other_profiencies %}
                                                <li>{{proficiency.content}}</li>
                                              {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex" style="margin: 5px;width: 37%;height: 100px;">
                                <div class="col d-inline-flex border border-secondary" style="width: 100%;height: 100px;">
                                    <div class="row" style="width: 33%;margin: 2px;">
                                        <div class="col" style="height: auto;">
                                            <h5 class="text-center">AC</h5>
                                            <hr>
                                            <p class="text-center">{{sheet.armor_class}}</p>
                                        </div>
                                    </div>
                                    <div class="row" style="width: 33%;margin: 2px;">
                                        <div class="col" style="height: auto;">
                                            <h5 class="text-center">Initiative</h5>
                                            <hr>
                                            <p class="text-center">{{sheet.initiative}}</p>
                                        </div>
                                    </div>
                                    <div class="row" style="width: 33%;margin: 2px;">
                                        <div class="col" style="height: auto;">
                                            <h5 class="text-center">Speed</h5>
                                            <hr>
                                            <p class="text-center">{{sheet.speed}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col justify-content-center ">
                                    <div class="row border border-secondary" style="width: 100%;padding: 0;margin: 2px;">
                                        <div class="col text-center text-sm-center text-md-center text-lg-center text-xl-center " style="width: 100%;margin: 5px;">
                                            <p class="text-center">Current Hit Points</p>
                                            <hr>
                                            <h4 class="text-center">{{sheet.current_hp}}</h4>
                                        </div>
                                    </div>
                                    <div class="row border border-secondary" style="width: 100%;margin: 2px;">
                                        <div class="col" style="margin: 2px;">
                                            <p class="text-center">Temporary Hit Points</p>
                                            <hr>
                                            <h3 class="text-center">{{sheet.temp_hp}}</h3>
                                        </div>
                                    </div>
                                    <div class="row border border-secondary">
                                        <div class="col d-inline-flex">
                                            <div class="row" style="width: 50%;margin: 2px;">
                                                <div class="col">
                                                    <p class="text-center">Hit Dice</p>
                                                    <hr>
                                                    <h5 class="text-center">{{sheet.hit_dice}}</h5>
                                                </div>
                                            </div>
                                            <div class="row" style="width: 50%;margin: 2px;">
                                                <div class="col">
                                                    <p class="text-center">Death Saves</p>
                                                    <hr>
                                                    <p class="text-left">Successes:{{sheet.successful_death_saves}}<br>Failures:&nbsp; &nbsp; &nbsp;{{sheet.failed_death_saves}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col border border-secondary">
                                            <p class="text-center">Attacks &amp; Spellcasting</p>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Attack Bonus</th>
                                                            <th>Damage/Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      {% for items in sheet.attacks %}
                                                      <tr>
                                                            <td>{{items.item}}</td>
                                                            <td>{{items.attack}}</td>
                                                            <td>{{items.damage}}</td>
                                                      </tr>
                                                      {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row border border-secondary">

                                        <div class="col-2" style="width: 35%;">
                                            <div class="row" style="width: 35%;">
                                                <div class="col-auto d-inline-flex" style="width: 50%;">
                                                    <p>CP:&nbsp;</p><strong>{{sheet.cp}}</strong></div>
                                            </div>
                                            <div class="row" style="width: 35%;">
                                                <div class="col-auto d-inline-flex" style="width: 50%;">
                                                    <p>SP:&nbsp;</p><strong>{{sheet.sp}}</strong></div>
                                            </div>
                                            <div class="row" style="width: 35%;">
                                                <div class="col-auto d-inline-flex" style="width: 50%;">
                                                    <p>LP:&nbsp;</p><strong>{{sheet.lp}}</strong></div>
                                            </div>
                                            <div class="row" style="width: 35%;">
                                                <div class="col-auto d-inline-flex" style="width: 50%;">
                                                    <p>GP:&nbsp;</p><strong>{{sheet.gp}}</strong></div>
                                            </div>
                                            <div class="row" style="width: 35%;">
                                                <div class="col-auto d-inline-flex" style="width: 50%;">
                                                    <p>PP:&nbsp;</p><strong>{{sheet.pp}}</strong></div>
                                            </div>
                                        </div>
                                        <div class="col" style="width: 75%;">
                                          <p class="text-center">Equipment</p>
                                          <hr>
                                            <ul>
                                              {%for item in sheet.equipment %}
                                                <li>{{item.content}}</li>
                                              {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 5px;width: 37%;">
                                <div class="col">
                                    <div class="row border border-secondary">
                                        <div class="col">
                                            <p class="text-center">Personality Traits</p>
                                            <hr>
                                            <ul>
                                              {% for trait in sheet.personality%}
                                                <li>{{trait.content}}</li>
                                              {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row border border-secondary">
                                        <div class="col">
                                            <p class="text-center">Ideals</p>
                                            <hr>
                                            <p>{{sheet.ideals}}</p>
                                        </div>
                                    </div>
                                    <div class="row border border-secondary">
                                        <div class="col">
                                            <p class="text-center">Bonds</p>
                                            <hr>
                                            <p>{{sheet.bonds}}</p>
                                        </div>
                                    </div>
                                    <div class="row border border-secondary">
                                        <div class="col">
                                            <p class="text-center">Flaws</p>
                                            <hr>
                                            <p><br>{{sheet.flaws}}<br><br></p>
                                        </div>
                                    </div>
                                    <div class="row border border-secondary">
                                        <div class="col">
                                            <p class="text-center">Features and Traits</p>
                                            <hr>
                                            <ul>
                                              {% for feature in sheet.features %}
                                                <li>{{feature.content}}<br></li>
                                              {% endfor %}
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div></div>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>
