<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - opendnd</title>
    <link rel="stylesheet" href="{{url_for('static', filename='dragonborn/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="{{url_for('static', filename='dragonborn/fonts/font-awesome.min.css')}}">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container">
            <h1 class="text-capitalize text-primary">OpenDND</h1><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Github</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Hosted Sessions</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">About us</a></li>
                </ul>
        </div>
        <div class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255,255,255);">Resources</a>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Classes</a><a class="dropdown-item" role="presentation" href="#">Races</a><a class="dropdown-item" role="presentation" href="#">Monsters</a></div>
        </div>
        </div>
    </nav>
    <section id="portfolio" class="portfolio" style="background-position: top;margin: 10px;">
        <div class="container">
            <div class="row">
                <div class="col" style="margin: 10px;">
                    <h1 class="d-xl-flex align-items-xl-start">Dragonborn</h1>
                </div>
                <div class="col d-xl-flex justify-content-xl-end"><img src="{{url_for('static', filename='dragonborn/img/dragon-head.png')}}" style="width: 64px;margin: 10px;opacity: 1;"></div>
            </div>
            <p>Your draconic heritage manifests in a variety of traits you share with other dragonborn.<br></p>
            <p><strong><em>Ability Score Increase:</em></strong><br>Your Strength score increases by 2, and your Charisma score increases by 1.<br></p>
            <p><strong><em>Age:</em></strong><br>Young dragonborn grow quickly. They walk hours after hatching, attain the size and development of a 10-year-old human child by the age of 3, and reach adulthood by 15. They live to be around 80.<br></p>
            <p><strong><em>Alignment:</em></strong><br>Dragonborn tend to extremes, making a conscious choice for one side or the other in the cosmic war between good and evil. Most dragonborn are good, but those who side with evil can be terrible villains.<br></p>
            <p><strong><em>Size:</em></strong><br>Dragonborn are taller and heavier than humans, standing well over 6 feet tall and averaging almost 250 pounds. Your size is Medium.<br></p>
            <p><strong><em>Speed:</em></strong><br>Your base walking speed is 30 feet.<br></p>
            <p><strong><em>Draconic Ancestry:</em></strong><br>You have draconic ancestry. Choose one type of dragon from the Draconic Ancestry table. Your breath weapon and damage resistance are determined by the dragon type, as shown in the table.<br></p>
            <div
                class="table-responsive text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Dragon</th>
                            <th>Damage Type</th>
                            <th>Breath Weapon</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Black</td>
                            <td>Acid</td>
                            <td>5 by 30 ft line (Dex. Save)</td>
                        </tr>
                        <tr>
                            <td>Blue</td>
                            <td>Lightning</td>
                            <td>5 by 30 ft line (Dex. Save)<br></td>
                        </tr>
                        <tr>
                            <td>Brass</td>
                            <td>Fire</td>
                            <td>5 by 30 ft line (Dex. Save)<br></td>
                        </tr>
                        <tr>
                            <td>Bronze</td>
                            <td>Lightning<br></td>
                            <td>5 by 30 ft line (Dex. Save)<br></td>
                        </tr>
                        <tr>
                            <td>Copper</td>
                            <td>Acid</td>
                            <td>5 by 30 ft line (Dex. Save)<br></td>
                        </tr>
                        <tr>
                            <td>Gold</td>
                            <td>Fire</td>
                            <td>15 ft. cone (Dex. Save)</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>Poison</td>
                            <td>15 ft. cone (Dex. Save)<br></td>
                        </tr>
                        <tr>
                            <td>Red</td>
                            <td>Fire</td>
                            <td>15 ft. cone (Dex. Save)<br></td>
                        </tr>
                        <tr>
                            <td>Silver</td>
                            <td>Cold</td>
                            <td>15 ft. cone (Dex. Save)<br></td>
                        </tr>
                        <tr>
                            <td>White</td>
                            <td>Cold</td>
                            <td>15 ft. cone (Dex. Save)<br></td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <p><strong><em>Breath Weapon:</em></strong><br>You can use your action to exhale destructive energy. Your draconic ancestry determines the size, shape, and damage type of the exhalation.<br><br>When you use your breath weapon, each creature in the
            area of the exhalation must make a saving throw, the type of which is determined by your draconic ancestry. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed
            save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.<br><br>After you use your breath weapon, you can’t use it again until you complete a short or long rest.<br><br></p>
        <p><strong><em>Damage Resistance: </em></strong><br>You have resistance to the damage type associated with your draconic ancestry.<br></p>
        <p><strong><em>Languages:&nbsp;</em></strong><br>You can speak, read, and write Common and Draconic. Draconic is thought to be one of the oldest languages and is often used in the study of magic. The language sounds harsh to most other creatures
            and includes numerous hard consonants and sibilants.<br></p>
        <hr>
        <h4>Subraces</h4>
        <p><strong>There are no subraces for Dragonborns.</strong></p>
        <p><em>Content from this page is licenesed under System Reference Document 5.1&nbsp;</em><a href="https://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf"><em>Open Gaming Liecense</em></a><br><em>Race Icons from this page are licensed under&nbsp;</em>
            <a
                href="http://creativecommons.org/licenses/by/3.0/"><em>CC BY 3.0</em></a>&nbsp;<em>individual authors varry credit goes to Carl Olsen, Catheline Au, Delapouite, Kier Heyl, Lorc, and Skoll</em></p>
        </div>
    </section>
    <footer class="footer text-center"></footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © Hopkins and Holzhauser Development LLC</small></div>
    </div>
    <div class="d-lg-none scroll-to-top position-fixed rounded"><a class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="dragonborn/img/portfolio/cabin.png">
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                    itaque. Nam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="dragonborn/img/portfolio/cake.png">
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                    itaque. Nam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="dragonborn/img/portfolio/circus.png">
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                    itaque. Nam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="dragonborn/img/portfolio/game.png">
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                    itaque. Nam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="dragonborn/img/portfolio/safe.png">
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                    itaque. Nam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="dragonborn/img/portfolio/submarine.png">
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                    itaque. Nam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='dragonborn/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='dragonborn/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{{url_for('static', filename='dragonborn/js/freelancer.js')}}"></script>
</body>

</html>
