<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - opendnd</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-freelancer.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/font-awesome.min.css')}}">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container">
            <h1 class="text-capitalize text-primary">OpenDND</h1><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Github</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Hosted Sessions</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">About us</a></li>
                </ul>
        </div>
        <div class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255,255,255);">Resources</a>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Classes</a><a class="dropdown-item" role="presentation" href="/races">Races</a><a class="dropdown-item" role="presentation" href="#">Monsters</a></div>
        </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center" style="background-image: url({{url_for('static', filename='images/background.jpeg')}});">
        <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="{{url_for('static', filename='images/logo.png')}}" style="height: 250px;"></div>
    </header>
    <section style="background-position: top;">
        <div class="container">
            <h1>OpenDND</h1>
            <p>The OpenDND team enables tabletop gamers to connect across any distance via our opensource easy-to-use Dungeons and Dragons tools. We strive to ease the technical burden of playing D&amp;D over the internet, making the barrier to entry smaller.
                To acomplish these goals, we've created an opensource web application, that can be hosted on anything from a dedicated server to a raspberry pi. Additionally we also offer hosted sessions, which require absolutely zero setup.<br><br>Why
                Opensource?<br>OpenDND recognizes the need of a full featured platform to host Dungeons and Dragons, however unlike our competetors who prioritize profits over the community, we know that creating a free to host platform benefits the community
                significantly, and we can draw players from the pay to play platforms to our hosted session model, for one reason. We are willing to give you our software for free.<br><br>Hosted Sessions<br>Rather than offering a tiered model with additional
                fees for additional features, we offer a complete application with all features for a flat montly rate.&nbsp;</p>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row text-center justify-content-center" style="width: 100%;">
                <div class="col-auto col-md-4 align-self-center mb-5 mb-lg-0" style="width: 50%;">
                <!-- FIXME: Add something about our company here -->
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © Hopkins and Holzhauser Development LLC</small></div>
    </div>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/freelancer.js')}}"></script>
</body>

</html>
