<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>D&amp;D</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/css/Navigation-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/css/styles.css')}}">
</head>

<body>
  <!-- replace default with session or user id later -->
  <iframe src="/map/default" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:200px;width:100%;border:none;overflow:hidden;"></iframe>
  <iframe src="/character" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:200px;width:100%;border:none;overflow:hidden;"></iframe>
    <script src="{{url_for('static', filename='main/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='main/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>
