<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - OpenDND</title>
    <link rel="stylesheet" href="{{url_for('static', filename='map/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="#">OpenDND</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Sign Up</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row" style="margin-top: 80px;">
      <div class="col" style="margin-left: 15px;"><canvas id="c" width="2100px" height="700px"</canvas></div>
      <div class="col-2" style="margin-right: 15px;">
        <div class="row" style="margin-right: 15px;">
        <button onclick="save_map()">Save</button>
      </div>
        <div class="row" style="margin-right: 15px;">
        <hr>
        <button onclick="add_icon()" class="btn btn-primary" type="button" style="width: 100%;">Create Item</button>
      </div>
    <div class="row" style="margin-right: 15px;">
          <select style="width: 100%; height: 25px;" id="list">
              <option value="https://news.cgtn.com/news/77416a4e3145544d326b544d354d444d3355444f31457a6333566d54/img/37d598e5a04344da81c76621ba273915/37d598e5a04344da81c76621ba273915.jpg">Cat</option>
              <option value="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Friedrich-Johann-Justin-Bertuch_Mythical-Creature-Dragon_1806.jpg/1200px-Friedrich-Johann-Justin-Bertuch_Mythical-Creature-Dragon_1806.jpg">Dragon</option>
              <option value="https://pbs.twimg.com/profile_images/673636115266609154/zvEJXRxW_400x400.jpg">Long Nose Jew</option>
        </select>
    </div>
  </div>
</div>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© Hopkins and Holzhauser Development LLC 2020</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fabric.js') }}"></script>
    <script>
    var socket = io.connect();

    var canvas = new fabric.Canvas('c', { selection: false });
    var grid = 50;

    {% if current_map.map_data %}
    canvas.loadFromDatalessJSON(JSON.parse({{current_map.map_data|tojson}}));
    {% else %}
    // create grid because its a new map

    for (var i = 0; i < (10000 / grid); i++) {
      canvas.add(new fabric.Line([ i * grid, 0, i * grid, 10000], { stroke: '#ccc', selectable: false }));
      canvas.add(new fabric.Line([ 0, i * grid, 10000, i * grid], { stroke: '#ccc', selectable: false }))
    }

    // add objects
    canvas.add(new fabric.Rect({
      left: 100,
      top: 100,
      width: 50,
      height: 50,
      fill: '#faa',
      originX: 'left',
      originY: 'top',
      centeredRotation: true
    }));
    fabric.Image.fromURL('https://cdna.artstation.com/p/assets/images/images/016/486/900/large/rowan-sherwin-helthake-icon.jpg', function(myImg){
      myImg.scale(.04);
      canvas.add(myImg);
    });
    {% endif %}
    // snap to grid as well as emit updates to all connected clients
    canvas.on('object:modified', function(options) {
    	const left = Math.round(options.target.left / grid) * grid;
    	const top = Math.round(options.target.top / grid) * grid;
    	options.target.set({
    		left: left,
    		top: top
    	});
        socket.emit('move_object', {name: '{{current_map.name}}', data: canvas.toJSON()});
    });

    // event handler for canvas update over socket.io
    socket.on('new_object', function(message) {
        // only update if we are on the same map
        if (message.name == '{{current_map.name}}') {
            canvas.loadFromDatalessJSON(message.data);
        }
    });
    function info(object){
      canvas.add(new fabric.Textbox("Test"));
    }

    function save_map() {
        fetch(`${window.origin}/map/{{current_map.name}}`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(canvas),
            cache: "no-cache",
            headers: new Headers({
                "Content-Type": "application/json"
            })
        }).then(function (response) {
            if (response.status !== 200) {
                console.log(`error: ${response.status}`);
                return;
            }
            response.json().then(function (data) {
                if (data.status !== "OK") {
                    console.log("error: " + data.error);
                }
            });
        }).catch(function (error) {
            console.log("Fetch error: " + error);
        });
    }
    function add_icon() {
      selectElement = document.querySelector('#list');
      type = selectElement.value;
      fabric.Image.fromURL(type, function(myImg){
        myImg.scale(.04);
        canvas.add(myImg);
      });
    }
    var startCoords = {x: 0, y: 0};
var last = {x: 0, y: 0};
var isDown = false;

canvas.onmousemove = function (e) {
    if(isDown) {
        ctx.setTransform(1, 0, 0, 1,
                         xVal - startCoords.x,
                         yVal - startCoords.y);
    }
};

canvas.onmousedown = function (e) {
    isDown = true;
    startCoords = {x: e.pageX - this.offsetLeft - last.x,
                   y: e.pageY - this.offsetTop - last.y};
};

canvas.onmouseup   = function (e) {
    isDown = false;
    last = {x: e.pageX - this.offsetLeft - startCoords.x,
            y: e.pageY - this.offsetTop - startCoords.y};
};
    </script>
    <script src="{{url_for('static', filename='map/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='map/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>
