<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>D&amp;D</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Navigation-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>

<body style="height: 250px;">
    <div>
        <div>
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link"  href="/character">Back</a></li>
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Character Stats</a></li>
                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-3">Inventory and Character Information</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" role="tabpanel" id="tab-2">
                    <div class="row">
                        <div class="col" style="width: 35%;">
                          <form method="POST" action="">
                            <button class="btn btn-primary" type="submit" style="margin: 5px;">Save</button>
                            <p style="width: 100%;">Character Name:</p><input type="text" name="name" value="{{sheet.name}}">
                            <p>Inspiration</p><input type="text" name="inspiration" value="{{sheet.inspiration}}">
                            <p>Proficiency Bonus</p><input type="text" name="proficiency_bonus" value="{{sheet.proficiency_bonus}}"></div>
                        <div class="col-9" style="width: 65%;">
                            <div class="row" style="width: 100%;">
                                <div class="col">
                                    <p>Class &amp; Level</p><input type="text" name="level" value="{{sheet.level}}"></div>
                                <div class="col">
                                    <p>Background</p><input type="text" name="background" value="{{sheet.background}}"></div>
                                <div class="col">
                                    <p>Player Name</p><input type="text" name="username" value="{{sheet.username}}"></div>
                            </div>
                            <div class="row" style="width: 100%;">
                                <div class="col">
                                    <p>Race</p><input type="text" name="race" value="{{sheet.race}}"></div>
                                <div class="col">
                                    <p>Alignment</p><input type="text" name="alignment" value="{{sheet.alignment}}"></div>
                                <div class="col">
                                    <p>Experience Points</p><input type="text" name="experience"  value="{{sheet.experience}}"></div>
                            </div>
                            <hr>
                            <div class="row" style="width: 100%;">
                                <div class="col">
                                    <p>Strength</p><input type="text" name="strength" value="{{sheet.strength}}"></div>
                                <div class="col">
                                    <p>Dexterity</p><input type="text" name="dexterity" value="{{sheet.dexterity}}"></div>
                                <div class="col">
                                    <p>Constitution</p><input type="text" name="constitution" value="{{sheet.constitution}}"></div>
                            </div>
                            <div class="row" style="width: 100%;">
                                <div class="col">
                                    <p>Intelligence</p><input type="text" name="intelligence" value="{{sheet.intelligence}}"></div>
                                <div class="col">
                                    <p>Wisdom</p><input type="text" name="wisdom" value="{{sheet.wisdom}}"></div>
                                <div class="col">
                                    <p>Charisma</p><input type="text" name="charisma" value="{{sheet.charisma}}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Skills</p>
                            <ul>
                                <li>Acrobatics (Dex)<input type="text" name="acrobatics" value={{sheet.acrobatics}}></li>
                                <li>Animal Handling (Wis)<input type="text" name="animal_handling" value="{{sheet.ani}}"></li>
                                <li>Arcana (Int)<input type="text" name="arcana" value="{{sheet.arcana}}"></li>
                                <li>Athletics (Int)<input type="text" name="athletics" value="{{sheet.athletics}}"></li>
                                <li>Deception (Cha)<input type="text" name="deception" value="{{sheet.deception}}"></li>
                                <li>History (Int)<input type="text" name="history" value="{{sheet.history}}"></li>
                                <li>Insight (Wis)<input type="text" name="insight" value="{{sheet.insight}}"></li>
                                <li>Intimidation (Cha)<input type="text" name="intimidation" value="{{sheet.intimidation}}"></li>
                                <li>Investigation (Int)<input type="text" name="investigation" value="{{sheet.investigation}}"></li>
                                <li>Medicine (Wis)<input type="text" name="medicine" value="{{sheet.medicine}}"></li>
                                <li>Nature (Int)<input type="text" name="nature" value="{{sheet.nature}}"></li>
                                <li>Perception (Wis)<input type="text" name="perception" value="{{sheet.perception}}"></li>
                                <li>Performance (Cha)<input type="text" name="performance" value="{{sheet.performance}}"></li>
                                <li>Persuasion (Cha)<input type="text" name="persuasion" value="{{sheet.persuasion}}"></li>
                                <li>Religion (Int)<input type="text" name="religion" value="{{sheet.religion}}"></li>
                                <li>Sleight of Hand (Dex)<input type="text" name="slight_of_hand" value="{{sheet.slight_of_hand}}"></li>
                                <li>Stealth (Dex)<input type="text" name="stealth" value="{{sheet.stealth}}"></li>
                                <li>Survival (Wis)<input type="text" name="survival" value="{{sheet.survival}}"></li>
                            </ul>
                        </div>
                        <div class="col">
                            <p>Saving Throws</p>
                            <ul>
                                <li>Strength<input type="text" name="strength_save" value="{{sheet.strength_save}}"></li>
                                <li>Dexterity<input type="text" name="dexterity_save" value="{{sheet.dexterity_save}}"></li>
                                <li>Constitution<input type="text" name="constitution_save" value="{{sheet.constitution_save}}"></li>
                                <li>Intelligence<input type="text" name=intelligence_save" value="{{sheet.intelligence_save}}"></li>
                                <li>Wisdom<input type="text" name="wisdom_save" value="{{sheet.wisdom_save}}"></li>
                                <li>Charisma<input type="text" name="charisma_save" value="{{sheet.charisma_save}}"></li>
                            </ul>
                            <p>Current Hit Points</p><input type="text" name="current_hp" value="{{sheet.current_hp}}">
                            <p>Temporary Hit Points</p><input type="text" name="temp_hp" value="{{sheet.temp_hp}}">
                            <p>Hit Dice</p><input type="text" name="hit_dice" value="{{sheet.hit_dice}}">
                            <p>Death Saves Success</p><input type="text" name="succeeded_death_saves" value="{{sheet.succeeded_death_saves}}">
                            <p>Death Saves Failure</p><input type="text" name="failed_death_saves" value="{{sheet.failed_death_saves}}"></div>
                          </form>
                    </div>
                </div>
                <div class="tab-pane active" role="tabpanel" id="tab-3">
                    <div class="row">
                        <div class="col">
                            <p>Personaility Traits</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Selection</th>
                                            <th>Trait</th>
                                        </tr>
                                    </thead>
                                    <tbody id="pst_content">
                                      {% for trait in sheet.personality %}
                                      <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ trait.content }}</td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div><button id="pst" onclick="add(this.id)" class="btn btn-primary" type="button" style="margin: 5px;">Add Item</button><button class="btn btn-primary" type="button" style="margin: 5px;">Remove Selected</button><select><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select><input id="add_pst_id" placeholder="Personality Trait"></input></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Equipment</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Selection</th>
                                            <th>Item Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="equ_content">
                                          {% for item in sheet.equipment %}
                                          <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ item.content }}</td>
                                          </tr>
                                          {% endfor %}
                                      </tbody>
                                    </tbody>
                                </table>
                            </div><button id="equ" onclick="add(this.id)" class="btn btn-primary" type="button" style="margin: 5px;">Add Item</button><button class="btn btn-primary" type="button" style="margin: 5px;">Remove Selected</button><select><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select><input id="add_equ_id" placeholder="Add Item Name"></input></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Features and Traits</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Selection</th>
                                            <th>Feature/Trait</th>
                                        </tr>
                                    </thead>

                                    <tbody id="fet_content">
                                        {% for trait in sheet.features %}
                                        <tr>
                                          <td>{{ loop.index }}</td>
                                          <td>{{ trait.content }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div><button id="fet"onclick="add(this.id)" class="btn btn-primary" type="button" style="margin: 5px;">Add Item</button><button class="btn btn-primary" type="button" style="margin: 5px;">Remove Selected</button><select><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select><input id="add_fet_id" placeholder="Add Feature"></input></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Attacks &amp; Spellcasting</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Selection</th>
                                            <th>Name</th>
                                            <th>Attack Bonus</th>
                                            <th>Damage/Type</th>
                                        </tr>
                                    </thead>
                                    <tbody id="asc_content">
                                      {% for item in sheet.attacks %}
                                        <tr>
                                          <td>{{ loop.index}}</td>
                                          <td>{{ item.item }}</td>
                                          <td>{{item.attack}}</td>
                                          <td>{{item.damage}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div><button id="asc" onclick="add(this.id)" class="btn btn-primary text-center" type="button">Add Item</button><button class="btn btn-primary text-center" type="button" style="margin: 5px;">Remove Selected</button><select><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select><input id="add_asc_item" placeholder="Name"></input><input id="add_asc_attack" placeholder="Attack Bonus"></input><input id="add_asc_damage" placeholder="Damage/Type"></input></div>
                    </div>
                    <div class="row">
                        <div class="col" style="height: 250px;">
                          <p>Flaws</p><textarea id="edit_fla_id" style="width: 100%;height: 200px;">{{ sheet.flaws }}</textarea>
                        <button id="fla" onclick="edit(this.id)" class="btn btn-primary text-center" type="button">Save</button>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height: 250px; margin-top: 30px;">
                            <p style="height: auto;">Ideals</p><textarea id="edit_ide_id" class="form-control-lg" style="width: 100%;height: 200px;">{{sheet.ideals}}</textarea>
                            <button id="ide" onclick="edit(this.id)" class="btn btn-primary text-center" type="button">Save</button>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col" style="height: 250px; margin-top: 30px;">
                                  <p>Bonds</p><textarea id="edit_bon_id" style="width: 100%;height: 200px;">{{ sheet.bonds }}</textarea>
                                  <button id="bon" onclick="edit(this.id)" class="btn btn-primary text-center" type="button">Save</button>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
<script>
  function edit(id) {
    if (id == "bon") {
      var content = document.getElementById("edit_bon_id");
      var entry = {
              type: "bon",
              content: content.value
            };
       var update = document.getElementById('edit_bon_id');

    } else if (id == "fla"){
      var content = document.getElementById("edit_fla_id");
      var entry = {
              type: "fla",
              content: content.value
            };
      var update = document.getElementById('edit_fla_id');
    }else if (id == "ide"){
      var content = document.getElementById("edit_ide_id");
      var entry = {
              type: "ide",
              content: content.value
            };
       var update = document.getElementById('edit_ide_id');
    }

        fetch(`${window.origin}/character/edit/{{sheet.id}}/json`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                          "content-type": "application/json"
                        })
              })
          .then(function (response) {
                    if (response.status !== 200) {
                                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                                return;
                              }
                      response.json().then(function (data) {
                            console.log(data)
                            console.log(update.innerHTML)
                            if (id == "bon"){
                            update.innerHTML += "<textarea id='bon' style='width: 100%;height: 200px;'>" + data.content + "</textarea>";
                          } else if (id == "fla"){
                            update.innerHTML += "<textarea id='fla' style='width: 100%;height: 200px;'>" + data.content + "</textarea>";
                          }else if (id == "ide"){
                            update.innerHTML += "<textarea id='fla' style='width: 100%;height: 200px;'>" + data.content + "</textarea>";
                          }
                      });
                  })
          .catch(function (error) {
                    console.log("Fetch error: " + error);
                  });

      }
      function add(id) {
        if (id == "pst"){
          var content = document.getElementById("add_pst_id");
          var entry = {
                  type: "pst",
                  content: content.value
                };
          var update = document.getElementById('pst_content');
        } else if (id == "asc"){
          var item = document.getElementById("add_asc_item");
          var attack = document.getElementById("add_asc_attack");
          var damage = document.getElementById("add_asc_damage");
          var entry = {
                  type: "asc",
                  item: item.value,
                  attack: attack.value,
                  damage: damage.value
                };
        var update = document.getElementById('asc_content');
      } else if (id == "equ"){
        var content = document.getElementById("add_equ_id");
        var entry = {
                type: "equ",
                content: content.value
              };
        var update = document.getElementById('equ_content');
      } else if (id == "fet"){
        var content = document.getElementById("add_fet_id");
        var entry = {
                type: "fet",
                content: content.value
              };
        var update = document.getElementById('fet_content');
      }



            fetch(`${window.origin}/character/edit/{{sheet.id}}/json`, {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify(entry),
                    cache: "no-cache",
                    headers: new Headers({
                              "content-type": "application/json"
                            })
                  })
              .then(function (response) {
                        if (response.status !== 200) {
                                    console.log(`Looks like there was a problem. Status code: ${response.status}`);
                                    return;
                                  }
                          response.json().then(function (data) {
                                console.log(data)

                                console.log(update.innerHTML)
                                if (id == "pst"){
                                update.innerHTML += "<tr><td>4</td><td>" + data.content + "</td></tr>";
                              }else if (id == "asc"){
                                update.innerHTML += "<tr><td>4</td><td>" + data.item + "</td><td>" + data.attack + "</td><td>" + data.damage + "</td></tr>";
                              }else if (id == "equ"){
                                update.innerHTML += "<tr><td>4</td><td>" + data.content + "</td></tr>";
                              }else if (id == "fet"){
                                update.innerHTML += "<tr><td>4</td><td>" + data.content + "</td></tr>";
                              }
                          });
                      })
              .catch(function (error) {
                        console.log("Fetch error: " + error);
                      });

          }
</script>
</html>
